In [2]:
import numpy as np
import pandas as pd
import logging

import dowhy
from dowhy import CausalModel
import dowhy.datasets

import warnings
warnings.filterwarnings('ignore')

In [3]:
data = dowhy.datasets.linear_dataset(10, num_common_causes=4, num_samples=10000,
                                    num_instruments=0, num_effect_modifiers=2,
                                     num_treatments=2,
                                    treatment_is_binary=False,
                                    num_discrete_common_causes=2,
                                    num_discrete_effect_modifiers=0,
                                    one_hot_encode=False)
df=data['df']
df.head()

,X0,X1,W0,W1,W2,W3,v0,v1,y
0,0.440098,0.055711,0.818105,0.171784,0,2,3.037982,13.128663,234.134631
1,-1.113773,0.069691,-1.262929,-0.097270,2,3,0.470395,22.129327,201.675666
2,1.093558,0.699902,0.914103,-0.516630,3,1,4.097651,20.200462,647.949259
3,-1.015766,0.091341,0.834153,1.505331,3,2,7.946827,29.350943,-348.893940
4,-0.858581,0.401877,0.450003,-0.715591,0,3,-1.360354,11.436267,146.793396

In [6]:
treatment=data["treatment_name"]
treatment

['v0', 'v1']

In [ ]:
outcome=data["outcome_name"]